<div class="row">
  <div class="card border-secondary col-md-4 mx-auto">
    <div class="card-header"> Sign In </div>
    <div class="card-body">
      <form class="form-group" (submit)="signIn()">
        <div class="form-group mb-4">
          <label for="floatingInput"> Email address </label>
          <input [(ngModel)]="user.email" type="email" class="form-control" id="floatingInput" name="enail" placeholder="name@example.com" required autofocus>
        </div>
        <div class="form-group">
          <label for="floatingPassword"> Password </label>
          <input [(ngModel)]="user.password" type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password" autocomplete="off" required>
        </div>
        <button type="submit" class="btn btn-outline-primary btn-block"> Sign In </button>
      </form>
    </div>
  </div>
</div>
